<nav id="side-menu">
  <ul>
    <li><a href="index.html">Início</a></li>
    <li><a href="patients.html">Pacientes</a></li>
    <li><a href="clinicians.html">Profissionais</a></li>
    <li><a href="locations.html">Locais</a></li>
    <li><a href="appointment_types.html">Tipos de Consulta</a></li>
    <li><a href="appointments.html">Consultas</a></li>
    <li><a href="pricing.html">Preçário</a></li>
    <li><a href="reports.html">Relatórios</a></li>
  </ul>
</nav>
<header>
  <h1>Gestão da Clínica</h1>
</header>
